<div class="side-bar-logo text-center">
  <img src="{{ site.url }}/assets/profile_me.png" class="rounded-circle" alt="Nguyen Xuan Cuong">
</div>

<div class="mt-3">
	Mình là Cương, mình đang là lập trình viên và có kinh nghiệm trong nghề đã gần 3 năm. (cho tới 3/2018).<br>
	Thời gian rảnh mình viết ra blog này mục đích ghi chép, chia sẻ lại những thứ "mông lung như một trò đùa" mà mình thấy thú vị trong công việc 
cũng như trong cuộc sống. <br>
	
	<hr>
	<p class="font-weight-light">
		" Sống trên đời cần có một tấm lòng, để làm gì em biết không?
			Để gió cuốn đi ... "
		
		<footer class="blockquote-footer">
			Để gió cuốn đi - <cite title="Source Title">Trịnh Công Sơn</cite>
		</footer>
	</p>
</div>
